
	<div id="lib4ri-journal-area-{{ ident }}" {{ clickDiv }} class="lib4ri-journal-area">
		<div class="lib4ri-journal-area-top" id="lib4ri-journal-area-top-{{ ident }}">
			<div class="lib4ri-journal-area-col" id="lib4ri-journal-area-col-1">
				<div class="lib4ri-journal-area-col-data" id="lib4ri-journal-title-{{ ident }}">{{ title }}</div>
				<div class="lib4ri-journal-area-col-data" id="lib4ri-journal-available-{{ ident }}">{{ available }}</div>
			</div>
			<div class="lib4ri-journal-area-col" id="lib4ri-journal-area-col-2">
				<div class="lib4ri-journal-area-col-data" id="lib4ri-journal-info-{{ ident }}">Information for Publishing
					<a id="lib4ri-journal-area-toggle-{{ ident }}" class="lib4ri-journal-area-toggle-link" 
						href="javascript:" {{ clickA }} title="Load details"><!-- Keep 'load' word in title, JS-relevant! --><span class="lib4ri-toggle-closed" /></a>
				</div>
				<!--  div class="lib4ri-journal-area-col-data" id="lib4ri-journal-empty-{{ ident }}">{{ empty }}</div -->
			</div>
		</div>
		<div class="lib4ri-journal-area-info" id="lib4ri-journal-area-info-{{ ident }}" style="display:none;">
			<div class="lib4ri-journal-area-col" id="lib4ri-journal-area-col-1">
				<div class="lib4ri-journal-area-col-data" id="lib4ri-journal-publisher-{{ ident }}">{{ publisher }}</div>
				<div class="lib4ri-journal-area-col-data" id="lib4ri-journal-created-{{ ident }}">{{ created }}</div>
				<div class="lib4ri-journal-area-col-data" id="lib4ri-journal-issn-{{ ident }}">{{ issn }}</div>
				<div class="lib4ri-journal-area-col-data" id="lib4ri-journal-eissn-{{ ident }}">{{ eissn }}</div>
				<div class="lib4ri-journal-area-col-data" id="lib4ri-journal-relation-{{ ident }}">{{ relation }}</div>
			</div>
			<div class="lib4ri-journal-area-col" id="lib4ri-journal-area-col-2">
				<div class="lib4ri-journal-area-col-data" id="lib4ri-journal-reviewed-{{ ident }}">{{ reviewed }}</div>
				<div class="lib4ri-journal-area-col-data" id="lib4ri-journal-jif-{{ ident }}">{{ jif }}</div>
				<div class="lib4ri-journal-area-col-data" id="lib4ri-journal-agreement-{{ ident }}">{{ agreement }}</div>
				<div class="lib4ri-journal-area-col-data" style="padding: 0.25ex 1ex 0 1ex;" id="lib4ri-journal-embargo-fund-{{ ident }}">{{ embargo-fund }}</div>
				<div class="lib4ri-journal-area-col-data" style="padding: 0.25ex 1ex 0 1ex;" id="lib4ri-journal-license-{{ ident }}">{{ license }}</div>
			</div>
			<div class="lib4ri-journal-area-col" id="lib4ri-journal-area-col-1" style="padding:0.75ex 0 0.25ex 0;"><!-- AUX -->
				<div class="lib4ri-journal-area-col-data lib4ri-journal-linklist" id="lib4ri-journal-linklist-{{ ident }}">{{ linklist }}</div>
			</div>
		</div>
	</div>
